@import url(./../../css/custom.css);


.search {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.search__results {
  background-color: transparent;
  color: var(--white);
  height: calc(100vh - 80px);
  width: 70%;
  margin: 0 auto;
  color: black;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}


.container--padding {
  padding: 20px;
}

.search__alert {
  text-align: center;
  font-size: 1.5em;
  color: black;
}

@media (min-width: 768px) {
  .search__results {
    margin: 25px auto;
  }
}